@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

a,
a:hover,
a:active,
a:focus,
a:visited {
	text-decoration: none;
	outline: none;
}

body {
  font-family: "Oswald", sans-serif;
}

/*Header*/
header {
	padding-bottom: 200px;
	text-align: center;
}

header nav ul li {
	display: inline-block;
	font-size: 24px;
	margin: 15px;
}

header nav ul li a {
	color: black;
	transition: 0.3s;
}

header nav ul li a:hover {
	color: red;
}

.logo img {
	width: 70%;
}

.journal p {
	text-align: center;
}

.popular_games {
	padding: 100px 0;
	text: center;
}

.popular_games img {
	width: 100%;
	margin: 40px 0;
	transition: 0.3s;
}

body p {
	font-size: 17px;
}

.kukeri h1 {
	font-weight: bold;
}

.flip-card {
	display: inline-block;
}

.popular_games img:hover {
	transform: scale(0.9);
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}



header p {
	font-size: 20px;
}

footer {
	padding: 30px 0;
	text-align: center;
}

footer .logo2 {
	margin: 5px 0;
}

footer a i {
	margin: 5px 5px 10px;
	transition: 0.3s;
}

footer a i:hover {
	color: black;
}

@media only screen and (max-width: 768px)
{
	.card card-body
	.game,
	.populat_game img {
		width: 75%;
		margin: 20px auto;
	}
}
