@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

a,
a:hover,
a:active,
a:focus,
a:visited {
	text-decoration: none;
	outline: none;
}



/*Header*/
header {
	padding-bottom: 200px;
	text-align: center;
}

header nav ul li {
	display: inline-block;
	font-size: 24px;
	margin: 20px;
}

header nav ul li a {
	color: black;
	transition: 0.3s;
}

header nav ul li a:hover {
	color: red;
}

.hr {
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 420px;
    width: 60%;
    clear: both;
    text-align: center;
}

.photo img {
    width: 50%;
    border: 3px solid black;
    height: 400px;
    margin-left: 300px;
}

.logo img {
	width: 70%;
}

footer {
	padding: 30px 0;
	text-align: center;
}

footer .logo2 {
	margin: 5px 0;
}

footer a i {
	margin: 5px 5px 10px;
	transition: 0.3s;
}

footer a i:hover {
	color: black;
}
