@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

a,
a:hover,
a:active,
a:focus,
a:visited {
	text-decoration: none;
	outline: none;
}

* {
	font-family: 'Yatra One', cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Header*/
header {
	background: url(../../assets/img/background.jpg) no-repeat center center/cover;
	height: 100vh;
	text-align: center;
}

header nav ul li {
	display: inline-block;
	font-size: 24px;
	margin: 20px;
}

header nav ul li a {
	color: black;
	transition: 0.3s;
}

header nav ul li a:hover {
	color: red;
}

.logo img {
	width: 70%;
}

header p {
	font-size: 20px;
}